.foter {
  margin: 0;
  padding: 0;
  position: relative;
  top: 10em;
  bottom: 0;
  width: 100%;
  height: 144px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.foter_container {
  width: 1440px;
  /* border: 1px red solid; */
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #d15e5e; */
}

.foter_data {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 12px;
  flex-direction: column;
  margin-left: 56px;
}
.foter_data a {
  color: #000;
  font-family: Barlow Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.foter_mail {
  color: #fff;
  font-family: "Barlow Condensed";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.35px;
  margin-left: 150px;
}

.foter_social {
  display: inline-flex;
  padding: 14px;
  align-items: flex-start;
  gap: 35px;
  margin-right: 47px;
  width: 325px;
}
.foter_social a {
  width: 48px;
  height: 48px;
}

.foter_social i {
    font-size: 48px;
    color: #000;
  }