@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700;400&family=Dancing+Script:wght@500;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/aileron");

* {
  --sec2FontColor: #ffffff;
  --hover: #c29de8;
  --press: #ae73ea;
  --meetColor: #4c6b5f;

  /* border: red solid 2px; */
}

.HM_section4 {
  min-height: 909px;
  height: fit-content;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  box-sizing: border-box;

  margin-bottom: 10px;

}

.HM_4_content {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: green solid 2px; */
  width: 1440px;
  height: 100%;
  /* top: 200px; */
}
.HM_4_p1 {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 741px;
  height: 144px;
  font-family: "Barlow Condensed";
  /* font-family: "aileron"; */
  font-weight: 700;
  font-size: 120px;
  /* left: 0; */
  top: 24px;
  color: var(--meetColor);
}

.HM_4_p2 {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 1216px;
  height: 60px;
  /* font-family: "Barlow Condensed"; */
  font-family: "aileron";

  font-weight: 400;
  font-size: 30px;
  top: 200px;
  color: var(--meetColor);
  text-align: center;
}

.HM_4_teamImg {
  position: absolute;
  width: 932px;
  height: 611.99px;
  top: 302.6px;
  z-index: 2;
  border-radius: 100px;
}
.HM_4_ImgBG {
  position: absolute;
  width: 743.05px;
  height: 784.28px;
  top: 237px;
  /* z-index: 100; */
}
.HM_4_learna {
  position: absolute;
  width: 378px;
  height: 95px;
  top: 771px;
  z-index: 3;
}
.HM_4_learnBtn {
  width: 378px;
  height: 95px;
  font-family: "Barlow Condensed";
  font-weight: 500;
  font-size: 46px;
  color: var(--meetColor);
  background-color: var(--sec2FontColor);
  border: 8px var(--hover) solid;
  border-radius: 100px;
}

.HM_4_learnBtn:hover {
  background-color: var(--hover);
  border-color: var(--hover);
  color: var(--sec2FontColor);
  cursor: pointer;
}

.HM_4_learnBtn:active {
  background-color: var(--press);
  border-color: var(--press);
  color: var(--sec2FontColor);
}

@media only screen and (max-width: 992px) {
  .HM_section4 {
    min-height: 400px;
    height: auto;
    width: 100%;

    margin-bottom: 10px;
    padding: 70px 0;
  }

  .HM_4_content {
    max-width: 992px;
    width: 100%;
    height: 100%;
  }
  .HM_4_p1 {
    position: static;

    width: 100%;
    height: auto;
    font-size: 90px;
    /* left: 0; */
    line-height: normal;
    letter-spacing: 4.05px;
    top: 48px;
  }

  .HM_4_p2 {
    position: static;
   
    width: 100%;
    height: auto;
    font-size: 26px;
    /* top: 172px; */
    line-height: 40px; /* 153.846% */
    letter-spacing: 1.17px;
    padding:20px 5px;
  }

  .HM_4_teamImg {
    position: static;
    width: 754.602px;
    height: 495.505px;
    width: calc(100% * 754.602 / 992);
    height:auto;

    flex-shrink: 0;

    /* top: 264px; */
    z-index: 2;
    border-radius: 100px;
  }

  .HM_4_learna {
    position: static;
    width: 359px;
    height: 90px;
    /* top: 650px; */
    z-index: 3;
    margin-top: calc(100% * 100 / 992 *-1);

  }
  .HM_4_learnBtn {
    width: 359px;
    height: 90px;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.89px;
  }
}

@media only screen and (max-width: 600px) {
  .HM_section4 {
    /* min-height: 708px; */
    height: auto;
    width: 100%;

    /* margin-bottom: 10px; */
    padding: 20px 0;
  }

  .HM_4_content {
    max-width: 600px;
    width: 100%;
    height: 100%;
  }
  .HM_4_p1 {
    /* width: 497px; */
    /* width: fit-content; */
    width: 100%;
    height: auto;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.6px;
    /* top: 48px; */
  }

  .HM_4_p2 {
    /* width: 515px; */
    width: 100%;
    height: auto;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    letter-spacing: 1.08px;
  }

  .HM_4_teamImg {
    /* max-width: 600px; */
    width: 100%;
    height: auto;
    flex-shrink: 0;
    width: calc(100% - 10px);

    top: 264px;
    z-index: 2;
    border-radius: 50px;
  }

  .HM_4_learna {
    position: absolute;
    width: 250px;
    height: 68px;
    top: 550px;
    z-index: 3;
    margin-top: calc(100% * 80 / 600 *-1);

  }
  .HM_4_learnBtn {
    width: 250px;
    height: 68px;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.8px;
  }
}
