@import url("https://fonts.cdnfonts.com/css/aileron");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&family=Dancing+Script:wght@500;600&display=swap");
*{
  box-sizing: border-box;
}
.home-section-one_container {
  width: 100%;
  height: 783px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.home-section-one {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: left;
  width: 1440px;
  max-width: 100%;
  height: 783px;
  /* border: 1px red solid; */
  margin: 0;
}

.main-title {
  width: 917px;
  height: 144px;
  right: 100px;
  color: #4c6b5f;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3375rem;
  /* position: relative; */
  /* top: 120px; */
  margin: 0;
  padding: 0;
  margin-top: 144px;
  margin-left: 80px;
  z-index: 1;
  /* border: 1px red solid; */
  overflow: hidden;
}


.home-reclaim-logo {
  position: absolute;
  z-index: -1;
  width: 1008px;
  height: 1000px;
  /* left: 700px; */
  /* border: 1px red solid; */
  float: right;
  right: -120px;
  top: -170px;
}

.Home-page-sec1-paragraph p {
  margin: 0;
  padding: 0;
}
.Home-page-sec1-paragraph {
  /* position: absolute; */
  color: #4c6b5f;
  width: 829px;

  }
  
  height: 160px;
  /* top: 350px;
  left: 80px; */
  font-family: "Aileron";
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  /* letter-spacing: 0.045em; */
  letter-spacing: 1.35px;
  text-align: left;
  margin: 0;
  margin-top: 24px;
  margin-left: 80px;
  /* border: 1px red solid; */
}

.Home-page-sec1-learn-more-a {
  margin: 0;
  margin-top: 32px;
  margin-left: 80px;
  width: 378px;
  height: 95px;
}
.Home-page-sec1-learn-more {
  /* position: absolute; */
  width: 378px;
  height: 95px;
  /* top: 621px; */
  /* left: 80px; */
  padding: 20px 80px 20px 80px;
  border-radius: 100px;
  border: 8px solid #c29de8;
  gap: 10px;
  background: #ffffff;
  color: #4c6b5f;
  font-family: "Barlow Condensed";
  font-size: 46px;
  font-weight: 500;
  line-height: 40px;
  margin: 0;
}

.learn-more:hover {
  background: #c29de8;
  color: #ffffff;
  cursor: pointer;
}

.learn-more:active {
  background: #ae73ea;
  border: 8px solid #ae73ea;
}

.bold-text {
  font-weight: 600;
}

/*Media queries*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
 
.home-section-one_container {
  height: 724px;
  max-width: 992px;
  width: 100%;
}
.home-section-one {
  max-width: 992px;
  width: 100%;
  height: 724px;
  }

  .main-title {
    width: 688px;
    height: 108px;
    margin-top: 144px;
    margin-left: 40px;
    font-size: 90px;
    letter-spacing: 4.05px;
  }

  .home-reclaim-logo {
    position: absolute;
    z-index: -1;
    width: 808px;
    height: 800px;
    right: -180px;
    top: -100px;
  }


  .Home-page-sec1-paragraph {
    width: 652px;
    height: 178px;
    font-family: "Aileron";
    font-size: 26px;
    line-height: 35.5px;
    letter-spacing: 1.177px;
    margin-left: 40px;
    /* border: 1px red solid; */
  }

  .Home-page-sec1-learn-more-a {
    margin-top: 24px;
    margin-left: 40px;
    width: 359px;
    height: 90px;
  }
  .Home-page-sec1-learn-more {
    width: 359px;
    height: 90px;
    font-size: 42px;
    line-height: normal;
    /* letter-spacing: 1.89px; */
    padding: 5px;
  }

  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
.home-section-one_container {
  height: 666px;
  max-width: 600px;
  width: 100%;
}
.home-section-one {
  max-width: 600px;
  width: 100%;
  height: 666px;
  }

  .main-title {
    width: 340px;
    height: 192px;
    margin-top: 72px;
    margin-left: 32px;
    font-size: 80px;
    letter-spacing: 3.6px;
    text-align: left;
  }
  

  .home-reclaim-logo {
    position: absolute;
    z-index: -1;
    width: 508px;
    height: 500px;
    right: -120px;
    top: -60px;
  }


  .Home-page-sec1-paragraph {
    width: 554px;
    height: 170px;
    font-size: 24px;
    line-height: 33.6px;
    letter-spacing: 1.08px;
    margin-left: 32px;
    /* border: 1px red solid; */
    padding-left: 10px;
  }

  .Home-page-sec1-learn-more-a {
    margin-top: 40px;
    margin-left: 32px;
    width: 350px;
    height: 88px;
  }
  .Home-page-sec1-learn-more {
    width: 350px;
    height: 88px;
    font-size: 40px;
    line-height: normal;
    letter-spacing: 1.80px;
    padding: 5px;
  }

  
}
