@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&family=Dancing+Script:wght@500;600&display=swap");
* {
  --sec2FontColor: #ffffff;
  --hover: #C29DE8;
  --press:#AE73EA;

}
.section2-container{
  width: 100%;
  height: 823px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 margin: 0;
 
 box-sizing: border-box;
}
.section2 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  width: 1440px;
  height: 823px;

  /* top: 900px; */
  /* border: 1px red solid; */
  position: relative;

}
.video-background {
  width: 1440px;
  height: 823px;
}
.video-background video {
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px red solid; */

}
.p1 {
  position: absolute;
  width: 887px;
  height: 72px;
  font-family: "Barlow Condensed";
  font-weight: 500;
  font-size: 60px;
  top: 88px;
  color: var(--sec2FontColor);
}

.p2 {
  position: absolute;
  width: 958px;
  height: 168px;
  font-family: "Barlow Condensed";
  font-weight: 700;
  font-size: 140px;
  top: 150px;
  color: var(--sec2FontColor);
}

.p3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 484px;
  height: 144px;
  font-family: "Barlow Condensed";
  font-weight: 500;
  font-size: 60px;
  top: 408px;
  color: var(--sec2FontColor);
}
.learnBtn {
  position: absolute;
  width: 385px;
  height: 95px;
  font-family: "Barlow Condensed";
  font-weight: 700;
  font-size: 46px;
  top: 632px;
  color: var(--sec2FontColor);
  background-color: transparent;
  border: 8px var(--sec2FontColor) solid;
  border-radius: 100px;
}

.learnBtn:hover{
  background-color: var(--hover);
  border-color: var(--hover);
  color: var(--sec2FontColor);
  cursor: pointer;

}


.learnBtn:active {
  background-color: var(--press);
  border-color: var(--press);
  color: var(--sec2FontColor);
}

/* Style the link and its container */
#link-btn {
  display: flex; /* Use flexbox to center the button vertically and horizontally */
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Remove underline */
  color: var(--sec2FontColor);
  font-family: "Barlow Condensed";
  font-weight: 700;
  font-size: 46px;
}


/*Media queries*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {


  .section2-container{
   max-height: 863px;
    height: auto;
    
  }
  .section2 {
    max-width: 992px;
    width: 100%;
    height: 100%;

  }
  .video-background {
    max-width: 992px;
    width: 100%;
    height: auto;
    /* border: red solid 1px; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .played-video{
    height: 100%;
  }
 
  
  .content{
    /* width: calc(100% * 700 / 992); */
    width: 100%;

  }
  .p1 {
    position: static;
    margin: 0;
    padding: 0;
    /* width: 592px; */
    width: calc(100% * 750 / 992);
    /* width: 100%; */
    min-height: 48px;
    height: auto;
    /* height: calc(100% * 48 / 992); */
    font-size: 40px;
    top: 22px;
    margin-top: calc(100% * 22 / 992);
    color: var(--sec2FontColor);
    /* color: red; */
  }
  
  .p2 {
    position: static;

    margin: 0;
    padding: 0;
    /* width: 616px; */
    height: auto;
    font-weight: 700;
    font-size: 84px;
    /* top: 120px; */
    width: calc(100% * 700 / 992);

    margin-top: calc(100% * 30 / 992);

    color: var(--sec2FontColor);

  }
  
  .p3 {
    position: static;

   margin: 0;
   padding: 0;
    /* width: 323px; */
    min-height: 96px;
    height: auto;
    font-size: 40px;
    /* top: 260px; */
    color: var(--sec2FontColor);
    width: calc(100% * 400 / 992);

    margin-top: calc(100% * 50 / 992);

  }
  
  .learnBtn {
    /* position: static; */

    width: 366px;
    height: 90px;
    font-size: 42px;
    /* top: 400px; */
    color: var(--sec2FontColor);
    background-color: transparent;
    border: 8px var(--sec2FontColor) solid;
    border-radius: 100px;
    /* width: calc(100% * 400 / 992); */

    top: calc(100% * 770 / 992);
  }
  
  .learnBtn:hover{
    background-color: var(--hover);
    border-color: var(--hover);
    color: var(--sec2FontColor);
  }
  
  
  .learnBtn:active {
    background-color: var(--press);
    border-color: var(--press);
    color: var(--sec2FontColor);
  }
  
  /* Style the link and its container */
  #link-btn {

    font-size: 42px;
  }
  
 
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {



  

  .section2-container{
    max-height: 863px;
     
   }
   .section2 {
     max-width: 600px;
     width: 100%;
 
   }
   .video-background {
     max-width: 600px;
     width: 100%;
     max-height: 863px;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
   }

   
   
   .p1 {
     margin: 0;
     padding: 0;
     /* width: 444px; */
    width: calc(100% * 444 / 600);

     height: auto;
     min-height: 36px;
     font-size: 20px;
     /* top: 18px; */
    margin-top: calc(100% * 1 / 600);

   }
   
   .p2 {
     margin: 0;
     padding: 0;
     /* width: 473px; */
     height: auto;
     font-weight: 700;
     font-size: 50px;
     /* top: 60px; */
    width: calc(100% * 600 / 600);
    margin-top: calc(100% * -10 / 600);


 
   }
   
   .p3 {
    margin: 0;
    padding: 0;
     /* width: 323px; */
     height: auto;
     font-size: 30px;
     /* top: 130px; */
     color: var(--sec2FontColor);
     width: calc(100% * 400/ 600);

     margin-top: calc(100% * -10 / 600);
   }
   .learnBtn {
     width: 150px;
     /* width: calc(100% * 250/ 600); */

     height: 60px;
     font-size: 20px;
     /* top: 240px; */
     color: var(--sec2FontColor);
     background-color: transparent;
     border: 8px var(--sec2FontColor) solid;
     border-radius: 100px;
    top: calc(100% * 770 / 992);

   }
   
   /* Style the link and its container */
   #link-btn {
 
     font-size: 30px;
   }
   

}