body, html{
  margin:0;
  padding:0;
}
html{
  box-sizing: border-box;
}
ul {
  display: flex;
  text-decoration: none;
  justify-content: flex-end;
}
li {
  margin-right: 2rem;
}
.org h1 {
  font-family: "Barlow Condensed", sans-serif;
  margin-bottom: 0;
}
.org p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  margin-top: 0;
}
.orgHome {
  font-size: 12px;
  color: #4c6b5f;
  text-decoration: none;
}
.orgHome h1 {
  font-family: "Barlow Condensed", sans-serif;
  margin-bottom: 0;
}
.orgHome p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  margin-top: 0;
  font-size: 20px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
footer {
  background-color: gray;
  height: 100px;
  margin-top: 1rem;
  padding-top: 1rem;
}
.menu-links li {
  list-style: none;
  margin-right: 0;
}
.menu-links li a {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  color: #4c6b5f;
  text-transform: uppercase;
}
.header-button {
  width: 40px;
  height: 19px;
  padding: 10px 20px;
  border-radius: 100px;
  border: 4px solid #4c6b5f;
  margin: 10px;
  background-color: transparent;
}
.menu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 0%;
}
.logo-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 30px;
}
.org {
  font-size: 12px;
  color: #4c6b5f;
  text-decoration: none;
}
.logo-image {
  position: absolute;
  width: 30%;
  height: auto;
  opacity: 0.5;
  z-index: -1;
  margin-left: 30px;
}
.logo-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}
.logoText1 {
  margin-left: 48px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.logoText2 {
  margin-left: 68px;
  padding: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  text-align: center;
  z-index: 1000;
  background-color: #fff;
}