.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 1000;
  /* padding: 10%; */
  align-items: center;
  justify-content: center;
  position: fixed;
  /* border: 1px red solid; */
}

.modal-content {
  padding: 20px;
  margin: 8%;
 
  width: 80%;
  height: 80%;
  background-color: #ffffff;
  overflow: scroll;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
