@import url("https://fonts.cdnfonts.com/css/aileron");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Dancing+Script:wght@500;600&display=swap");

* {
  --text_color_1: #4c6b5f;
  --box_colr: #c29de8;
  
}

.about_section3_list ,.about_section3_txt5{
    width: 100%;
}
.about_section3_list ul{
    display: block;
}






.about_section3 {
  width: 1440px;
  height: 1010px;
  position: relative;
  /* border: 1px red solid; */
}

.whoweare_img_about_sec2_container {
  width: 632px;
  height: 540px;
  position: absolute;
  top: 199px;
  left: 744px;
  border-radius: 100px;
  background-color: var(--box_colr);
  z-index: 1;
  /* border: 1px red solid; */
}

.whoweare_img_about_sec2 {
  width: 632px;
  height: 405px;
  position: absolute;
  /* top: 138px; */
  left: 0px;
  bottom: 0px;
  z-index: 3;
  border-radius: 0 0 100px 100px;
}

.about_section2_title {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 383px;
  height: 96px;
  font-family: "Barlow Condensed";
  font-weight: 500;
  font-size: 80px;
  top: 0;
  left: 64px;
  color: var(--text_color_1);
}
.about_section2_text {
  width: 640px;
  height: 890px;
  position: absolute;
  top: 120px;
  left: 64px;
  font-family: "aileron";
  font-size: 30px;
  color: var(--text_color_1);
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}


