@import url("https://fonts.cdnfonts.com/css/aileron");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Dancing+Script:wght@500;600&display=swap");


* {
  --text_color_1: #4c6b5f;
}
.about_section1{
  position: relative;
  width: 1440px;
  height: 919px;
  margin-top: 159px;
  /* border: 1px red solid; */
}
.elop_img_about_sec1 {
  width: 700px;
  height: 919px;
  position: absolute;
  top: 0;
  left: 590px;
  z-index: 0;

}



.rectangle_about_sec1 {
  width: 612px;
  height: 250px;
  position: absolute;
  top: 30px;
  background-color: #eaddf7;
  border-radius: 0px 40px 40px 0px;
  left: 0;
}

.about_sec1_title {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 513px;
    height: 120px;
    font-family: "Barlow Condensed";
    font-weight: 600;
    font-size: 100px;
    top: 95px;
    left: 464px;
    color: var(--text_color_1);

}
.about_sec1_p1 {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 835px;
  height: 293px;
  font-family: "Aileron";
  font-weight: 400;
  font-size: 30px;
  top: 287px;
  left: 316px;
  color: var(--text_color_1);
}

/*Media queries*/
/* Define a breakpoint for small devices */
@media only screen and (max-width: 768px) {
  .about_section1 {
    width: 100%; /* Make the container full-width */
    height: auto; /* Allow height to adjust based on content */
    margin-top: 20px; /* Adjust margin as needed */
  }

  .elop_img_about_sec1 {
    width: 100%; /* Make the image full-width */
    height: auto; /* Allow height to adjust based on content */
    position: relative; /* Reset positioning */
    left: auto; /* Reset left position */
    height: 653px;
    width: 603px;
  }

  .rectangle_about_sec1 {
    width: 100%; /* Make the rectangle full-width */
    height: auto; /* Allow height to adjust based on content */
    position: relative; /* Reset positioning */
    top: auto; /* Reset top position */
    border-radius: 0; /* Remove border-radius */
  }

  .about_sec1_title {
    font-size: 80px;
    top: 100px;
    height: 96px;
    width: 410px;
    left: 10%;
  }

  .about_sec1_p1 {
    width: 100%; /* Make the paragraph full-width */
    font-size: 24px; /* Adjust font size for smaller screens */
    left: auto; /* Reset left position */
    margin: 1rem;
  }
}

/*Extra small devices*/
@media only screen and (max-width: 395px) {
  .about_section1 {
    text-align: center;
  }

  .about_sec1_title {
    width: 100%;
    left: 0%;
  }

  .about_sec1_p1 {
    margin: 0;
  }
}

  @media only screen and (min-width: 425px) and (max-width: 599px) {
    .rectangle_about_sec1 {
      z-index: 0;
      width: 214px;
      height: 205px;
      border-radius: 0 40px 40px 0;
    }

    .elop_img_about_sec1 {
      left: 0px;
      top: -200px;
      width: 100%;
      height: auto;
      z-index: -1;
    }

    .about_sec1_title {
      left: 5%;
    }

    .about_sec1_p1 {
      top: 250px;
      margin: 0.5rem;
    }
    
  } 