.old_rojects{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    flex-direction: column;
    top: 2053px;
    width: 100%;
    gap: 85px;
   
}

#reclaim-the-soil, #reclaim-literature, #reclaim-politics, #reclaim-words, #reclaim-the-streets, #reclaim-it-all {
    max-width: 95%;
}